h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas  
                    +navTemaItem('text', 'Introducción', 'main.html#page/introduccion/') 
                    +navTemaItem('1', 'PAI', 'main.html#page/PAI/')
                    +navTemaItem('2', 'Pandemia', 'main.html#page/pandemia/')  
                    +navTemaItem('3', 'Vacunación contra COVID-19', 'main.html#page/vacunacion_covid19/') 
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad/') 
                                 
                            
                   
                    
                    