h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. 230101257-01]
        p.mb-0 Reconocer las generalidades del PAI y la infección por el SARS -2 COVID 19 según lineamientos del Ministerio de Salud y Protección Social.
        hr
        h5 #[strong Cod. 230101257-02]
        p.mb-0 Cumplir con lineamientos técnicos y operativos de la vacunación contra el covid19 de acuerdo con orientaciones del ministerio de salud y protección social.





