.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Enfermedades inmunoprevenibles:
            | patología prevenible con vacunas.
        hr
        p
            strong.mr-2 Farmacovigilancia:
            | ciencia encargada de gestionar la información sobre los efectos de los medicamentos para prevenir daños al paciente.
        hr
        p
            strong.mr-2 Inmunización:
            | proceso por medio del cual se fortalece el sistema inmune del individuo.
        hr
        p
            strong.mr-2 Inmunógenos:
            | sustancia capaz de inducir una respuesta inmune específica en el individuo.
        hr
        p
            strong.mr-2 Inmunidad de rebaño: 
            | situación en la que suficientes individuos de una población adquieren inmunidad contra una infección (por vacunación o por haber tenido la enfermedad).
        hr
        p
            strong.mr-2 Vectores virales: 
            | virus modificados que sirven de vehículo para que entre al organismo vivo material genético exógeno.