include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Koury, J., & Hirschhaut, M. (2020). Reseña histórica del COVID-19 ¿Cómo y por qué llegamos a esta pandemia? Acta Odontológica Venezolana, sd(sd), 10. ", "https://www.actaodontologica.com/ediciones/2020/especial/art-2/")
        +referenciaItem("Ministerio de salud Colombia. (2020). Nuevo Coronavirus. COVID-19.", "https://covid19.minsalud.gov.co/ ")
        +referenciaItem("Ministerio de Salud Colombia. (2020). Plan Nacional de Vacunación contra el COVID-19.", "https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/pnv-contra-covid-19.pdf")
        +referenciaItem("Organización Mundial de la Salud. (2020). ¿Cómo se desarrollan las vacunas?", "https://www.who.int/es/news-room/feature-stories/detail/how-are-vaccines-developed")
        +referenciaItem("República de Colombia. Ministerio de Salud Colombia (2021). Decreto 109 de enero 29 2021 Por el cual se adopta el Plan Nacional de Vacunación contra el COVID-19 y se dictan otras disposiciones, 28 (2021). ", "https://dapre.presidencia.gov.co/normativa/normativa/DECRETO-109-29-ENERO-2021.pdf")        
        
        
 


        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            