.container#tema_2

    .header-ecored
        h1 2. Pandemia

    .jumbotron.bg-white 
      .row.justify-content-center
        .col
          .card.mb-0
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/y5atKVtpS7g', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

    .jumbotron.bg-white 
      .row.justify-content-center.align-items-center
        .col-12.col-lg-auto.d-flex.justify-content-center.mb-4.mb-lg-0 
          img(src="assets/images/pages/tema_2/img_2_01.svg", alt="",style="width:250px")
        .col
          p.mb-0 A finales del 2019 en el mes de diciembre, Wuhan, China se convirtió en el epicentro de un brote de neumonía de etiología desconocida que no cedía ante tratamientos actualmente utilizados. En pocos días los contagios aumentaron exponencialmente, no solo en China continental sino también en diferentes países. El agente causal fue identificado, un nuevo coronavirus (2019-nCoV) posteriormente clasificado como SARS-CoV2 causante de la enfermedad COVID-19. Se han identificado casos en todos los continentes y, el 6 de marzo se confirmó el primer caso en Colombia el 11 de marzo del 2020 la Organización Mundial de Salud declara a esta enfermedad como una pandemia (Koury & Hirschhaut, 2020).     
    
    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema2_1
            h2 2.1 Generalidades infección SARS-2 COVID-19     

      .row
        .col-12
          p Los coronavirus (CoV) son virus que surgen periódicamente en diferentes áreas del mundo y que causan Infección Respiratoria Aguda (IRA), es decir gripa, que pueden llegar a ser leve, moderada o grave. El nuevo Coronavirus (COVID-19) ha sido catalogado por la Organización Mundial de la Salud como una emergencia en salud pública de importancia internacional (ESPII). La infección se produce cuando una persona enferma tose o estornuda y expulsa partículas del virus que entran en contacto con otras personas (Ministerio de Salud, 2020).
          p Cuando los gérmenes, como el virus que causa el COVID-19, invaden nuestro organismo, atacan y se multiplican. Esta invasión, llamada infección, es lo que causa la enfermedad. Nuestro sistema inmunitario tiene diversas herramientas para combatir las infecciones. La sangre contiene glóbulos rojos que transportan oxígeno a los tejidos y órganos, y glóbulos blancos o inmunitarios que combaten las infecciones. Los diferentes tipos de glóbulos blancos combaten las infecciones.
          p.mb-4 Se conoce que cualquier persona puede infectarse, independientemente de su edad, pero hasta el momento se han registrado relativamente pocos casos de COVID-19 en niños. La enfermedad es mortal en raras ocasiones, y hasta ahora las víctimas mortales han sido personas de edad avanzada que ya padecían una enfermedad crónica como diabetes, asma o hipertensión (Ministerio de Salud, 2020).
          p.mb-2 Para ampliar la información puede visualizar el siguiente video:      

        .col-auto.mt-4       
          a(href="https://www.youtube.com/watch?v=bNDD81GFZ2U&feature=youtu.be ",target="_blank",style="color:#12263F")        
            .jumbotron.mb-0.p-4
              .row.justify-content-center.align-items-center
                .col-auto
                  img(src="assets/images/pages/icons/icon_media_video.svg", alt="", style="width:55px")
                .col
                  p.mb-0 #[strong Recurso.] Red Producción de Contenidos Grupo Gestión Curricular SENA (2020). ¿Qué es el coronavirus?

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema2_2
            h2 2.2 Situción general 

      .row.justify-content-center
        .col-12
          img(src="assets/images/pages/tema_2/img_2_2_02.svg", alt="", style="width:100%") 

      .row
        .col-12
          p.mb-0 Desde la identificación del primer caso de COVID19 en el país, el aumento de casos ha sido considerable, observándose cambios constantes en la información y comportamiento de la enfermedad.  Teniendo en cuenta esta dinámica, para el seguimiento de la situación actual de la infección se puede seguir en tiempo real en el enlace del Instituto Nacional de Salud de Colombia.

        .col-auto.my-5    
          a(href="https://www.ins.gov.co/Noticias/Paginas/Coronavirus.aspx",target="_blank",style="color:#12263F")        
            .jumbotron.mb-0.p-4
              .row.align-items-center
                .col-auto
                  img(src="assets/images/pages/icons/icon_media_web.svg", alt="", style="width:55px")
                .col-auto
                  p.mb-0 #[strong Recurso.] Instituto Nacional de Salud de Colombia

        .col-12
          p.mb-0 Así mismo, en el siguiente enlace se puede hacer seguimiento en tiempo real y consultar el gráfico del estado de la infección por países.
          
        .col-auto.my-5       
          a(href="https://www.youtube.com/watch?v=bNDD81GFZ2U&feature=youtu.be ",target="_blank",style="color:#12263F")        
            .jumbotron.mb-0.p-4
              .row.justify-content-center.align-items-center
                .col-auto
                  img(src="assets/images/pages/icons/icon_media_web.svg", alt="", style="width:55px")
                .col
                  p.mb-0 #[strong Recurso.] COVID-19 Dashboard. Johns Hopkins University (JHU)

        .col-12
          p.mb-0 Para la situación actual del SARS CoV2 / COVID-19, aspectos clínicos y avances en vacunas puede revisar a continuación la presentación realizada por el infectólogo pediatra Jose Alejandro Mojica.

        .col-auto.mt-5     
          a(href="media/anexos/Anexo_2_PP_Covid-19.pdf",target="_blank",style="color:#12263F")        
            .jumbotron.mb-0.p-4
              .row.justify-content-center.align-items-center
                .col-auto
                  img(src="assets/images/pages/icons/icon_media_pdf.svg", alt="", style="width:55px")
                .col
                  p.mb-0 #[strong Anexo.] SARS CoV2 / COVID-19. Situación actual, aspectos clínicos y avances en vacunas