.container#tema_1

    .header-ecored
      h1 1. PAI

    .jumbotron.bg-white  
      .row.mb-5 
        .col-12 
          p El Programa Ampliado de Inmunizaciones, es el conjunto de intervenciones transectoriales que se realizan para prevenir, controlar o minimizar los riesgos que propician la aparición de las enfermedades prevenibles por vacunas y sus consecuentes efectos negativos en la población (Ministerio de Salud, 2021). 
          p.mb-0 Por medio de la siguiente infografía, podrá conocer cuál es el objetivo y cuáles son las metas del PAI.

      .imgTopBar 
        .row.justify-content-end
          .col-auto(style="background-color:#FFCD3A; padding:0.5rem 1rem; margin:0 0.5rem; border-radius: 5px;") 
            a(href="media/documentos/Infografia_covid_cf1_PAI.pdf", target="_blank").imgTopBar_link 
              .row 
                .col-auto                   
                  p.d-inline(style="margin-right:10px") Descargar recurso 
                  img(src="assets/images/pages/icons/download.svg", alt="", style="7px")
      .row
        .col-12 
          img(src="assets/images/pages/tema_1/info_01A.svg", alt="", style= "width:100%") 

      

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema1_1
            h2 Generalidades        

      .row.justify-content-center
        .col-12.mb-4
          p Colombia cuenta con el programa de inmunización más fuerte y moderno en la región de las Américas. El PAI está organizado en 12 componentes que facilitan la ejecución de las actividades y el cumplimiento de los lineamientos de gestión.

        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span 1
            .list__txt
              p.mb-2 #[strong Normatividad]
              p Las principales normas en las que se enmarca el programa son:
          
              .row             
                .col-12.mt-3
                  .customTable 
                    .customTable_row_header 
                      .customTable_cell
                        p #[strong Norma]
                      .customTable_cell
                        p #[strong Año]
                      .customTable_cell
                        p #[strong Componente]
                      .customTable_cell
                        p #[strong Enlace]

                    .customTable_row
                      .customTable_cell(data-title="Norma")
                        p Plan Decenal de Salud Pública (Resolución 1841 de 2013)
                      .customTable_cell(data-title="Año")
                        p Resolución 1841 de 2013
                      .customTable_cell(data-title="Componente")
                        p Dimensión vida saludable y enfermedades transmisibles. Componente enfermedades inmunoprevenibles.
                      .customTable_cell(data-title="Enlace")
                        a(href="media/documentos/resolucion-1841-de-2013.pdf", target="_blank")                   
                          img(src="assets/images/pages/tema_1/icon_PDF.svg", alt="", style="width:35px")
                    
                    .customTable_row
                      .customTable_cell(data-title="Norma")
                        p Circular No 044 
                      .customTable_cell(data-title="Año")
                        p 2013
                      .customTable_cell(data-title="Componente")
                        p Lineamientos para la implementación del PAI.
                      .customTable_cell(data-title="Enlace")
                        a(href="media/documentos/circular-0044-de-2013.pdf",target="_blank")                   
                          img(src="assets/images/pages/tema_1/icon_PDF.svg", alt="", style="width:35px")

              .hr-divider.my-5
              .row.mt-5
                .col-12 
                  p En el contexto de la pandemia, se ha emitido normatividad desde el Ministerio de Salud, la cual entra a fortalecer este componente, dando línea para la acción; estas normas son:

              .row             
                .col-12.mt-3
                  .customTable 
                    .customTable_row_header 
                      .customTable_cell
                        p #[strong Norma]
                      .customTable_cell
                        p #[strong Año]
                      .customTable_cell
                        p #[strong Componente]
                      .customTable_cell
                        p #[strong Enlace]

                    .customTable_row
                      .customTable_cell(data-title="Norma")
                        p Resolución 666
                      .customTable_cell(data-title="Año")
                        p 2020 (24 abril)
                      .customTable_cell(data-title="Componente")
                        p Por medio del cual se adopta el protocolo general de bioseguridad para mitigar, controlar y realizar el adecuado manejo de la pandemia del coronavirus COVID-19.

                      .customTable_cell(data-title="Enlace")
                        a(href="media/documentos/Resolución No. 666 de 2020.pdf", target="_blank")                   
                          img(src="assets/images/pages/tema_1/icon_PDF.svg", alt="", style="width:35px")
                    
                    .customTable_row
                      .customTable_cell(data-title="Norma")
                        p Lineamientos PAI en el contexto de la pandemia 
                      .customTable_cell(data-title="Año")
                        p 23 julio 2020
                      .customTable_cell(data-title="Componente")
                        p Lineamientos generales para el PAI en el contexto de la pandemia de COVID-19.
                      .customTable_cell(data-title="Enlace")
                        a(href="media/documentos/GIPS15.pdf",target="_blank")                   
                          img(src="assets/images/pages/tema_1/icon_PDF.svg", alt="", style="width:35px")

                    .customTable_row
                      .customTable_cell(data-title="Norma")
                        p Decreto 1270  
                      .customTable_cell(data-title="Año")
                        p 18 de septiembre 2020
                      .customTable_cell(data-title="Componente")
                        p Por el cual se crea el Comité Asesor del Ministerio para el proceso estratégico de inmunización de la población colombiana frente a COVID-19.
                      .customTable_cell(data-title="Enlace")
                        a(href="media/documentos/Decreto_1270_18_Sept_2020.pdf",target="_blank")                   
                          img(src="assets/images/pages/tema_1/icon_PDF.svg", alt="", style="width:35px")

                    .customTable_row
                      .customTable_cell(data-title="Norma")
                        p Resolución 1628 
                      .customTable_cell(data-title="Año")
                        p 15 de septiembre 2020
                      .customTable_cell(data-title="Componente")
                        p Por la cual se crea y modifica la integración de la instancia de Coordinación y Asesoría para el Acceso a Vacunas Seguras y Eficaces contra el coronavirus SARS-CoV-2 (COVID-19).
                      .customTable_cell(data-title="Enlace")
                        a(href="media/documentos/Resolución No. 1628 de 2020.pdf",target="_blank")                   
                          img(src="assets/images/pages/tema_1/icon_PDF.svg", alt="", style="width:35px")

                    .customTable_row
                      .customTable_cell(data-title="Norma")
                        p Resolución 2272 
                      .customTable_cell(data-title="Año")
                        p 4 de diciembre 2020
                      .customTable_cell(data-title="Componente")
                        p Por la cual se crea y modifica la integración de la instancia de Coordinación y Asesoría para el Acceso a Vacunas Seguras y Eficaces contra el coronavirus SARS-CoV-2 (COVID-19).
                      .customTable_cell(data-title="Enlace")
                        a(href="media/documentos/resolucion-2272-de-2020.pdf",target="_blank")                   
                          img(src="assets/images/pages/tema_1/icon_PDF.svg", alt="", style="width:35px")

                    .customTable_row
                      .customTable_cell(data-title="Norma")
                        p Ley 2064 
                      .customTable_cell(data-title="Año")
                        p 9 de diciembre 2020
                      .customTable_cell(data-title="Componente")
                        p Por medio de la cual se declara de interés general la estrategia para la inmunización de la población colombiana contra COVID-19 y la lucha contra cualquier pandemia y se dictan otras disposiciones.
                      .customTable_cell(data-title="Enlace")
                        a(href="media/documentos/Ley_2064_de_2020.pdf",target="_blank")                   
                          img(src="assets/images/pages/tema_1/icon_PDF.svg", alt="", style="width:35px")

        .hr-divider.my-5

        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span 2
            .list__txt
              p.mb-2 #[strong Coordinación]
              p.mb-0 Trabajo interinstitucional llevado a cabo entre: la Organización Panamericana de la Salud, la Organización Internacional para las Migraciones, Instituto Nacional de Salud, EAPB, EPS, Superintendencia de Salud, Procuraduría General de la Nación, Ministerio de Educación, Secretarías de Educación, DANE, Comité Nacional de Prácticas de Inmunizaciones y, adicionalmente, con el apoyo de los socios y alianzas estratégicas, con gobernaciones, alcaldías y secretarías de despacho, secretarías de Salud DPS, Familias en Acción, Red Unidos, Sociedad Colombiana de Pediatría, FECOLSOG, FECOPEN, ACIN, ASCON, ICBF, iglesias, cajas de compensación, ONGs, medios de comunicación, entre otras.

        .hr-divider.my-5
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span 3
            .list__txt
              p.mb-2 #[strong Planificación y programación]
              p Vacunación permanente sin barreras. El PAI, en Colombia, cuenta con 21 vacunas que protegen contra 26 enfermedades.
              .row
                .col-12.my-4
                  a(href="media/documentos/ficha-esquema-vacunacion-vf2.pdf", target="_blank")                 
                    .jumbotron(style="background-color:#471E89").mb-0
                      .row.justify-content-center 
                        .col-11
                          img(src="assets/images/pages/tema_1/img_1_01.png", alt="", style="width:100%")

        .hr-divider.my-5
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span 4
            .list__txt
              p.mb-2 #[strong Estrategias y tácticas]
              p.mb-0 Acciones de vacunación permanente, acciones de vacunación intensiva, operación de jornada de vacunación, acciones de vacunación emergente, vacunación institucional, vacunación casa a casa, microconcentración, equipos o brigadas móviles, canalización.

        .hr-divider.my-5
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span 5
            .list__txt
              p.mb-2 #[strong Capacitación y talento humano]
              p.mb-0 Ejecución de la inducción y re-inducciones permanentes en todo el territorio nacional, coordinadas con las entidades territoriales, articulando con el SENA la evaluación y certificación de competencias laborales y con la Sociedad Colombiana de Pediatría, para la formación en vacunación.

        .hr-divider.my-5
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span 6
            .list__txt
              p.mb-2 #[strong Cadena de frío]
              p.mb-0 Se cuenta con la logística necesaria para garantizar, en condiciones seguras, el almacenamiento, conservación y cadena de frío, de acuerdo con las necesidades de cada vacuna y de las regiones.

        .hr-divider.my-5
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span 7
            .list__txt
              p.mb-2 #[strong Insumos]
              p.mb-0 Adquiridos del fondo rotatorio.

        .hr-divider.my-5
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span 8
            .list__txt
              p.mb-2 #[strong Cooperación técnica y supervisión]
              p.mb-0 Garantizada desde que la vacuna sale del proveedor, hasta que llega a cada una de las IPS.

        .hr-divider.my-5
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span 9
            .list__txt
              p.mb-2 #[strong Sistemas de Información]
              p.mb-0 Sistema de Información Nominal, llamado PAIWEB.

        .hr-divider.my-5
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span 10
            .list__txt
              p.mb-2 #[strong Vigilancia en salud pública: eventos inmunoprevenibles]
              p.mb-0 Articulación con el Instituto Nacional de Salud y el INVIMA, para la vigilancia de estos eventos

        .hr-divider.my-5
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span 11
            .list__txt
              p.mb-2 #[strong Comunicación y movilización social]
              p.mb-0 Realizada a través de campañas publicitarias, cartillas, uso de las redes sociales, página institucional  y afiches.

        .hr-divider.my-5
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span 12
            .list__txt
              p.mb-2 #[strong Evaluación]
              p.mb-0 Basada en indicadores establecidos, especialmente el de cobertura de vacunación.

      .hr-divider.my-5

      .imgTopBar 
        .row.justify-content-end
          .col-auto(style="background-color:#FFCD3A; padding:0.5rem 1rem; margin:0 0.5rem; border-radius: 5px;") 
            a(href="media/documentos/Infografia_PAI_Componentes.pdf", target="_blank").imgTopBar_link 
              .row 
                .col-auto 
                  p.d-inline(style="margin-right:10px") Descargar recurso
                  img(src="assets/images/pages/icons/download.svg", alt="", style="7px")                            
      .row
        .col-12 
          img(src="assets/images/pages/tema_1/info_01B.svg", alt="", style= "width:100%")  