.container#tema_2

    .header-ecored
        h1 2. Pandemia

    .jumbotron.bg-white     
      .row.justify-content-center.align-items-center.mb-4
        .col-12.mb-3 
          .jumbotron 
            .row.justify-content-center.align-items-center               
              .col
                p #[strong El siguiente video explica:] qué es el coronavirus, qué lugar se considera el epicentro de este brote, cuándo se confirmó el primer caso en Colombia y en qué fecha fue declarada esta enfermedad como pandemia.          
                p.mb-0 #[strong igualmente expone:] qué es un coronavirus, qué sucede cuando invade nuestro cuerpo y cómo, a través del sistema inmunitario, se combate esta infección.      
        .col
          .card.mb-0
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/y5atKVtpS7g', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 

      .row
        .col-12
          p.mb-0 Para ampliar la información, puede visualizar el siguiente video:  

        .col-auto.mt-4       
          a(href="https://www.youtube.com/watch?v=bNDD81GFZ2U&feature=youtu.be ",target="_blank",style="color:#12263F")        
            .jumbotron.mb-0.p-4
              .row.justify-content-center.align-items-center
                .col-auto
                  img(src="assets/images/pages/icons/icon_media_video.svg", alt="", style="width:55px")
                .col
                  p.mb-0 #[strong Recurso.] Red Producción de Contenidos Grupo Gestión Curricular SENA (2020). ¿Qué es el coronavirus?

    .jumbotron.bg-white
      .row
        .col-12
          .header-ecored.mt-3#tema2_1
            h2 2.1 Situción general 

      .row.justify-content-center
        .col-12
          img(src="assets/images/pages/tema_2/img_2_2_02.svg", alt="", style="width:100%") 

      .row
        .col-12
          p.mb-0 Desde la identificación del primer caso de COVID-19 en el país, el aumento de casos ha sido considerable, observándose cambios constantes en la información y en el comportamiento de la enfermedad. Una dinámica para llevar a cabo el seguimiento de la situación actual de la infección, en tiempo real, es el enlace del Instituto Nacional de Salud de Colombia.

        .col-auto.my-5    
          a(href="https://www.ins.gov.co/Noticias/Paginas/Coronavirus.aspx",target="_blank",style="color:#12263F")        
            .jumbotron.mb-0.p-4
              .row.align-items-center
                .col-auto
                  img(src="assets/images/pages/icons/icon_media_web.svg", alt="", style="width:55px")
                .col-auto
                  p.mb-0 #[strong Recurso.] Instituto Nacional de Salud de Colombia

        .col-12
          p.mb-0 Así mismo, en el siguiente enlace se puede hacer seguimiento y consultar en tiempo real, el gráfico de la situación de la infección, por países.          
        .col-auto.my-5       
          a(href="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6",target="_blank",style="color:#12263F")        
            .jumbotron.mb-0.p-4
              .row.justify-content-center.align-items-center
                .col-auto
                  img(src="assets/images/pages/icons/icon_media_web.svg", alt="", style="width:55px")
                .col
                  p.mb-0 #[strong Recurso.] COVID-19 Dashboard. Johns Hopkins University (JHU)

        .col-12
          p.mb-0 Para la situación actual del SARS CoV2 / COVID-19, aspectos clínicos y avances en vacunas, puede verificar, a continuación, la presentación realizada por el infectólogo pediatra, José Alejandro Mojica.
        .col-auto.mt-5     
          a(href="media/anexos/Anexo_2_PP_Covid-19.pdf",target="_blank",style="color:#12263F")        
            .jumbotron.mb-0.p-4
              .row.justify-content-center.align-items-center
                .col-auto
                  img(src="assets/images/pages/icons/icon_media_pdf.svg", alt="", style="width:55px")
                .col
                  p.mb-0 #[strong Anexo.] SARS CoV2 / COVID-19. Situación actual, aspectos clínicos y avances en vacunas